<h1>Edit objectives for <%=@course.title%></h1>
<%= render 'form' %>
<h2>Objectives</h2>

<% @objectives.each do |objective|%>
	<% if objective.description !=nil%>
		<p>
			<%=objective.description%>
			<%= link_to("Edit", edit_course_objective_path(@course,objective))%>|
			<%= link_to("Delete", course_objective_path(@course,objective), method: :delete, data: {confirm: 'Are you sure?'} )%>
		</p>
	<%end%>

<%end %>