<h1><%=@course.title%></h1>

<article id="course">
	<table>
		<tr>
			<th>
				Course Title
			</th>
			<td>
				<%= @course.title %>
			</td>
		</tr>
		<tr>
			<th>
				Course Short Title
			</th>
			<td>
				<%= @course.short_title %>
			</td>
		</tr>
		<tr>
			<th>
				Course Summary
			</th>
			<td>
				<%= @course.summary %>
			</td>
		</tr>
	</table>
</article>

<%= link_to("Add Objectives",course_objectives_path(@course))%> |
<%= link_to("Edit", edit_course_path(@course))%> |
<%= link_to("Delete", @course, method: :delete, data:{ confirm: 'Are you sure?'})%>